// Typography
$font-main: 'Oxigen', sans-serif;
$font-title: 'IM Fell English', serif;

// Colors
$color-main: #9c88ff;
$color-main-dark: #8c7ae6;

//https://flatuicolors.com/palette/gb
$color-info: #00a8ff;
$color-warning: #fbc531;
$color-danger: #e84118;
$color-success: #4cd137;
$color-black: #353b48;
$color-grey: #7f8fa6;
$color-white: #f5f6fa;
$color-shadow: rgba(127, 143, 166, 0.4);

// Break Points
$bp-mobile: 320px;
$bp-big-mobile: 400px;
$bp-phablet: 550px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-desktop-hd: 1200px;
